/* Variables */
/* End variables */
/* Mixins */
/* End mixins */
/* Header */
@media only screen and (max-width: 1200px) {
  /* Modal windows */
  .acc-modal-window-wrap .acc-modal-window {
    padding: 40px 50px;
  }
  .acc-modal-window-wrap .acc-modal-window .form-content h3 {
    margin-bottom: 25px;
  }
  .acc-modal-window-wrap .acc-modal-window .form-content input.form-row {
    padding: 10px 5px;
  }
  .acc-modal-window-wrap .acc-modal-window .form-content .acc-modal-window-btn {
    width: 100%;
    height: 40px;
    margin-top: 25px;
  }
}
@media only screen and (max-width: 1024px) {
  /* Modal windows */
  .acc-modal-window-wrap .acc-modal-window {
    padding: 30px 40px;
  }
  .acc-modal-window-wrap .acc-modal-window .form-content h3 {
    font-size: 1.7em;
    margin-bottom: 20px;
  }
  .acc-modal-window-wrap .acc-modal-window .form-content .form-row {
    margin: 3px 0;
  }
  .acc-modal-window-wrap .acc-modal-window .form-content input.form-row {
    padding: 8px 5px;
    font-size: 0.8em;
  }
  .acc-modal-window-wrap .acc-modal-window .form-content .acc-modal-window-btn {
    width: 100%;
    height: 45px;
    font-size: 1.1em;
    margin-top: 30px;
  }
}
@media only screen and (max-width: 991px) {
  header {
    /* Navigation */
  }
  header nav.nav-top {
    width: 100%;
    height: 80px;
    padding: 0 50px;
    background: #750fc2;
    background: #750fc2;
    background: -moz-linear-gradient(45deg, #750fc2 0%, #41f01d 87%, #00d4ff 100%) !important;
    background: -webkit-linear-gradient(45deg, #750fc2 0%, #41f01d 87%, #00d4ff 100%) !important;
    background: linear-gradient(45deg, #750fc2 0%, #41f01d 87%, #00d4ff 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#750fc2",endColorstr="#00d4ff",GradientType=1) !important;
    border-bottom: 1px solid #fff;
  }
  header nav.nav-top ul {
    display: none;
  }
  header nav.nav-top .account .acc-btn {
    margin: 0 5px;
  }
  header nav.nav-top #min-menu-btn {
    display: flex;
  }

  /* Modal windows */
  .acc-modal-window-wrap .acc-modal-window {
    padding: 30px;
  }
  .acc-modal-window-wrap .acc-modal-window .form-content h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  .acc-modal-window-wrap .acc-modal-window .form-content .form-row {
    margin: 3px 0;
  }
  .acc-modal-window-wrap .acc-modal-window .form-content input.form-row {
    padding: 6px 4px;
    font-size: 0.8em;
  }
  .acc-modal-window-wrap .acc-modal-window .form-content .acc-modal-window-btn {
    width: 100%;
    height: 35px;
    font-size: 1em;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 767px) {
  header {
    /* Navigation */
  }
  header nav.nav-top {
    width: 100%;
    height: 80px;
    padding: 0 30px;
  }
  header nav.nav-top .account {
    display: none;
  }
  header nav.nav-top .account-min {
    display: flex;
  }
  header nav.nav-top .account-min .acc-btn {
    margin: 0 5px;
    width: 45px;
    height: 45px;
  }
  header nav.nav-top #min-menu-btn {
    width: 45px;
    height: 45px;
  }

  /* Modal windows */
  .acc-modal-window-wrap .acc-modal-window {
    padding: 15px 20px;
  }
  .acc-modal-window-wrap .acc-modal-window .form-content h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
  }
  .acc-modal-window-wrap .acc-modal-window .form-content .form-row {
    margin: 2px 0;
    font-size: 0.8em;
  }
  .acc-modal-window-wrap .acc-modal-window .form-content input.form-row {
    padding: 5px 3px;
    font-size: 0.7em;
  }
  .acc-modal-window-wrap .acc-modal-window .form-content p {
    font-size: 0.7em;
  }
  .acc-modal-window-wrap .acc-modal-window .form-content .acc-modal-window-btn {
    width: 100%;
    height: 28px;
    font-size: 1em;
    margin-top: 15px;
  }
}
@media only screen and (max-width: 575px) {
  header {
    /* Navigation */
  }
  header nav.nav-top {
    width: 100%;
    height: 70px;
    padding: 0 20px;
  }
  header nav.nav-top .account-min {
    display: flex;
  }
  header nav.nav-top .account-min .acc-btn {
    width: 40px;
    height: 40px;
  }
  header nav.nav-top .account-min .acc-btn-autorized {
    width: 40px;
    height: 40px;
  }
  header nav.nav-top #min-menu-btn {
    width: 40px;
    height: 40px;
  }
  header nav.menu-min {
    padding: 30px;
    font-size: 1em;
    position: absolute;
    top: 68px;
    left: 0;
  }
  header nav.menu-min ul li {
    margin: 5px;
  }

  /* Modal windows */
  .acc-modal-window-wrap .acc-modal-window {
    padding: 15px;
  }
  .acc-modal-window-wrap .acc-modal-window .form-content {
    width: 430px;
  }
  .acc-modal-window-wrap .acc-modal-window .form-content h3 {
    font-size: 1em;
    margin-bottom: 12px;
  }
  .acc-modal-window-wrap .acc-modal-window .form-content .form-row {
    margin: 1px 0;
    font-size: 0.8em;
  }
  .acc-modal-window-wrap .acc-modal-window .form-content input.form-row {
    padding: 5px 3px;
    font-size: 0.7em;
  }
  .acc-modal-window-wrap .acc-modal-window .form-content p {
    font-size: 0.7em;
  }
  .acc-modal-window-wrap .acc-modal-window .form-content .acc-modal-window-btn {
    width: 100%;
    height: 28px;
    font-size: 1em;
    margin-top: 12px;
  }
}
@media only screen and (max-width: 480px) {
  header {
    /* Navigation */
  }
  header nav.nav-top {
    padding: 0 15px;
  }
  header nav.nav-top .acc-btn-autorized {
    width: 30px;
    height: 30px;
    margin: 0 3px;
  }

  /* Modal windows */
  .acc-modal-window-wrap .acc-modal-window .form-content {
    width: 265px;
  }
  .acc-modal-window-wrap .acc-modal-window .form-content h3 {
    font-size: 1.2em;
  }
  .acc-modal-window-wrap .acc-modal-window .form-content .form-row {
    margin: 2px 0;
    font-size: 0.9em;
  }
  .acc-modal-window-wrap .acc-modal-window .form-content .form-row label {
    display: block;
  }
  .acc-modal-window-wrap .acc-modal-window .form-content input.form-row {
    padding: 5px 3px;
    font-size: 0.8em;
  }
  .acc-modal-window-wrap .acc-modal-window .form-content p {
    font-size: 0.8;
  }
  .acc-modal-window-wrap .acc-modal-window .form-content .acc-modal-window-btn {
    width: 100%;
    height: 30px;
  }
}
@media only screen and (max-width: 991px) {
  main {
    margin-top: 80px;
  }

  #go_top {
    right: 25px;
    bottom: 25px;
    width: 40px;
    height: 40px;
  }
}
@media only screen and (max-width: 575px) {
  main {
    margin-top: 70px;
  }

  #go_top {
    right: 15px;
    bottom: 15px;
    width: 40px;
    height: 40px;
  }
}
@media only screen and (max-width: 480px) {
  .cookie-wrap {
    width: 100%;
  }

  #go_top {
    right: 10px;
    bottom: 10px;
    width: 35px;
    height: 35px;
  }
}
