/* SCSS */
/* Variables */
/* End variables */
/* Mixins */
/* End mixins */
/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

/* Styles */
body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
  /*header, main, footer, nav, .slider, .slide, section, aside {
      max-width: 100vw;
      width: 100%;
      overflow-x: hidden;
  }*/
}

a {
  text-decoration: none;
  color: inherit;
}

li > a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 5px 10px;
}

.logo {
  width: 120px;
  height: 30px;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}
.logo div {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo div:first-child {
  color: #000;
  background-color: #fff;
  left: 0;
}
.logo div:last-child {
  color: #fff;
  background-color: #000;
  left: 50%;
}

/* Preloader */
#preloader-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #888;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
#preloader-wrap #preloader {
  width: 120px;
  height: 30px;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
#preloader-wrap #preloader h3 {
  color: #fff;
  z-index: 2;
  mix-blend-mode: difference;
}
#preloader-wrap #preloader .preloader-block {
  width: 50%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  animation: loader 2s infinite ease-in-out;
}

/* Header */
header {
  width: 100%;
  height: auto;
  /* Navigation */
  /* Slider */
}
header nav.nav-top {
  width: 100%;
  height: 90px;
  padding: 0 80px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1em;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
header nav.nav-top ul, header nav.nav-top li {
  list-style: none;
}
header nav.nav-top ul {
  display: flex;
  text-transform: uppercase;
}
header nav.nav-top ul li {
  margin: 0 5px;
  transition: 0.3s;
}
header nav.nav-top ul li:hover {
  color: #bafaac;
}
header nav.nav-top .account {
  text-transform: uppercase;
  display: flex;
}
header nav.nav-top .account .acc-btn {
  margin: 0 10px;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: inherit;
  color: #fff;
  transition: 0.2s;
  cursor: pointer;
}
header nav.nav-top .account .acc-btn:first-child {
  margin-left: 0;
}
header nav.nav-top .account .acc-btn:last-child {
  margin-right: 0;
}
header nav.nav-top .account .acc-btn:hover {
  border-color: #750fc2;
  background-color: #750fc2;
}
header nav.nav-top .account-min {
  display: none;
}
header nav.nav-top .account-min .acc-btn {
  margin: 0 10px;
  font-size: 1.2em;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: inherit;
  color: #fff;
  transition: 0.2s;
  cursor: pointer;
}
header nav.nav-top .account-min .acc-btn:first-child {
  margin-left: 0;
}
header nav.nav-top .account-min .acc-btn:last-child {
  margin-right: 0;
}
header nav.nav-top .account-min .acc-btn:hover {
  border-color: #750fc2;
  background-color: #750fc2;
}
header nav.nav-top #min-menu-btn {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  font-size: 1.3em;
  border-radius: 10px;
  background-color: inherit;
  color: #fff;
  transition: 0.2s;
  cursor: pointer;
  display: none;
}
header nav.nav-top #min-menu-btn:hover {
  border-color: #41f01d;
  background-color: rgba(0, 255, 0, 0.2);
}
header nav.menu-min {
  width: 100%;
  height: auto;
  padding: 30px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-size: 1em;
  position: absolute;
  top: 78px;
  left: 0;
  z-index: 2;
  background: -moz-linear-gradient(45deg, #750fc2 0%, #41f01d 87%, #00d4ff 100%);
  background: -webkit-linear-gradient(45deg, #750fc2 0%, #41f01d 87%, #00d4ff 100%);
  background: linear-gradient(45deg, #750fc2 0%, #41f01d 87%, #00d4ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#750fc2",endColorstr="#00d4ff",GradientType=1);
  border-top: 2px solid #fff;
  display: none;
}
header nav.menu-min ul, header nav.menu-min li {
  list-style: none;
}
header nav.menu-min ul {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}
header nav.menu-min ul li {
  margin: 5px;
  transition: 0.3s;
}
header nav.menu-min ul li:hover {
  color: #bafaac;
}
header .slider {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  max-width: 100vw;
}
header .slider .slide_arrows {
  width: 40px;
  height: 40px;
  background-color: rgba(100, 188, 144, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: 50%;
  z-index: 2;
  font-size: 1em;
  transition: all 0.5s;
  cursor: pointer;
  opacity: 0;
}
header .slider .slide_arrows.prev {
  left: 20px;
}
header .slider .slide_arrows.next {
  right: 20px;
}
header .slider:hover .slide_arrows {
  display: flex;
  opacity: 1;
}
header .slider .slides_wrap {
  height: 100%;
  display: flex;
  flex-direction: row;
  transform: translateX(0);
  transition: all 0.5s;
}
header .slider .slides_wrap .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
header .slider .slides_wrap .slide:nth-child(1) {
  background: linear-gradient(rgba(0, 255, 0, 0.2), rgba(0, 255, 0, 0.2)), url(../img/slide1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
header .slider .slides_wrap .slide:nth-child(2) {
  background: linear-gradient(rgba(0, 255, 0, 0.2), rgba(0, 255, 0, 0.2)), url(../img/slide2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
header .slider .slides_wrap .slide:nth-child(3) {
  background: linear-gradient(rgba(0, 255, 0, 0.2), rgba(0, 255, 0, 0.2)), url(../img/slide3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
header .slider .slides_wrap .slide:nth-child(4) {
  background: linear-gradient(rgba(0, 255, 0, 0.2), rgba(0, 255, 0, 0.2)), url(../img/slide4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
header .slider .slides_wrap .slide .slide-content {
  margin-top: 150px;
  margin-left: 120px;
  width: 50%;
  color: #fff;
}
header .slider .slides_wrap .slide .slide-content h2 {
  font-size: 2.2em;
  font-weight: bold;
  margin-bottom: 30px;
}
header .slider .slides_wrap .slide .slide-content p {
  margin: 5px 0;
  font-size: 1.5em;
}
header .slider .slides_wrap .slide .slide-content .slide-content-btn {
  margin-top: 30px;
  width: 50%;
  height: 60px;
  background-color: #0CCEC0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}
header .slider .slides_wrap .slide .slide-content .slide-content-btn:hover {
  background-color: #750fc2;
}
header .slider #slides_control {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
header .slider #slides_control label {
  display: inline-flex;
  flex-direction: row-reverse;
  transition: all 0.2s;
  margin: 3px;
}
header .slider #slides_control label span {
  display: flex;
  width: 12px;
  height: 12px;
  border: 2px solid #09ffa3;
  border-radius: 50%;
  transition: all 0.2s;
}
header .slider #slides_control label:hover span {
  background-color: rgba(9, 255, 163, 0.6);
}
header .slider #slides_control label input {
  display: none;
}
header .slider #slides_control label input:checked + span {
  background-color: #09ffa3;
}

/* Modal windows */
.acc-modal-window-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.acc-modal-window-wrap .acc-modal-window {
  width: auto;
  height: auto;
  background-color: #fff;
  border: 2px solid #41f01d;
  padding: 50px;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
}
.acc-modal-window-wrap .acc-modal-window .acc-modal-window-close-btn {
  position: absolute;
  padding: 5px;
  top: 5px;
  right: 5px;
  font-size: 2em;
  color: #060;
  transition: 0.2s;
  cursor: pointer;
}
.acc-modal-window-wrap .acc-modal-window .acc-modal-window-close-btn:hover {
  color: #f60;
}
.acc-modal-window-wrap .acc-modal-window .form-content {
  width: 96%;
  height: 100%;
  max-width: 500px;
}
.acc-modal-window-wrap .acc-modal-window .form-content h3 {
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}
.acc-modal-window-wrap .acc-modal-window .form-content .form-row {
  width: 100%;
  margin: 5px 0;
}
.acc-modal-window-wrap .acc-modal-window .form-content .form-row label {
  margin: 0 5px;
}
.acc-modal-window-wrap .acc-modal-window .form-content .form-row label span {
  margin: 0 5px;
}
.acc-modal-window-wrap .acc-modal-window .form-content input.form-row {
  padding: 12px 6px;
  color: #747474;
  border: 1px solid #ECECEC;
  border-radius: 3px;
  font-size: 0.9em;
  background-color: #F6F7F8;
}
.acc-modal-window-wrap .acc-modal-window .form-content input.form-row::placeholder {
  color: #aaa;
}
.acc-modal-window-wrap .acc-modal-window .form-content p {
  color: #486;
}
.acc-modal-window-wrap .acc-modal-window .form-content p a {
  text-decoration: underline;
}
.acc-modal-window-wrap .acc-modal-window .form-content .acc-modal-window-btn {
  width: 100%;
  height: 45px;
  background-color: #0CCEC0;
  transition: 0.2s;
  color: #fff;
  border-radius: 3px;
  font-size: 1.1em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.acc-modal-window-wrap .acc-modal-window .form-content .acc-modal-window-btn:hover {
  background-color: #750fc2;
}

#registration-form-wrap, #login-form-wrap {
  display: none;
}

/* Main */
main {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto auto;
  /* About us */
  /* Aside */
  /* Stat counters */
}
main #about_us {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: #F5F6F7;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #about_us h1 {
  color: #292929;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
main #about_us p {
  color: #878F9E;
  font-size: 1.2em;
  align-self: flex-start;
}
main #about_us .about_as-cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px;
}
main #about_us .about_as-cards .about_as-card {
  margin: 20px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 2px 2px #dddddd;
  transition: all 0.3s;
}
main #about_us .about_as-cards .about_as-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 5px 2px 2px #dddddd;
}
main #about_us .about_as-cards .about_as-card i {
  font-size: 5em;
  color: #41f01d;
}
main #about_us .about_as-cards .about_as-card h3 {
  font-size: 1.5em;
  margin: 20px 0;
  text-align: center;
}
main #about_us .about_as-cards .about_as-card p {
  font-size: 1.1em;
  text-align: center;
}
main aside {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background: linear-gradient(rgba(117, 15, 194, 0.8), rgba(117, 15, 194, 0.8)), url(../img/bg1.jpg);
  background-size: cover;
  padding: 10px;
}
main aside .ad {
  width: 100%;
  min-height: 100px;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #41f01d;
  padding: 10px;
  margin: 10px 0;
}
main aside .ad .ad-photo {
  width: 20%;
  max-width: 150px;
  max-height: 150px;
  float: left;
  margin: 0 10px 10px 0;
}
main aside .ad .ad-info h6 {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 10px;
}
main aside .ad .ad-info p {
  font-size: 0.7em;
  color: #ACACAC;
}
main aside .ad .ad-description {
  color: #7C8595;
  padding-top: 15px;
  border-top: 1px solid #750fc2;
  margin-top: 15px;
}
main #statistic_counters {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  background-color: #41f01d;
  color: #ddd;
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}
main #statistic_counters .stat_counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 200px;
  margin: 50px;
  font-weight: bold;
}
main #statistic_counters .stat_counter .stat_num {
  font-size: 7em;
}
main #statistic_counters .stat_counter .stat_description {
  font-size: 2em;
  text-align: center;
}

/* Footer */
footer {
  width: 100%;
  background-color: #750fc2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}
footer a {
  color: #41f01d;
  transition: 0.2s;
}
footer a:hover {
  text-decoration: underline;
}
footer .logo {
  margin: 25px 0;
}
footer .nav-bottom {
  margin: 15px 0;
}
footer .nav-bottom ul {
  list-style: none;
  display: flex;
}
footer .footer-contact, footer .footer-copy {
  margin: 10px 10px;
  text-align: center;
}

/* Preloader animation */
@keyframes loader {
  0% {
    left: -25%;
  }
  50% {
    left: 75%;
  }
  100% {
    left: -25%;
  }
}
