/* SCSS */
/* Variables */
/* End variables */
/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

/* Styles */
body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  width: 100%;
  height: auto;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

li > a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 5px 10px;
}

.logo {
  width: 120px;
  height: 30px;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}
.logo div {
  position: absolute;
  top: 0;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.logo div:first-child {
  color: #000;
  background-color: #fff;
  left: 0;
}
.logo div:last-child {
  color: #fff;
  background-color: #000;
  left: 50%;
}

header {
  width: 100%;
  min-height: 100vh;
}
header nav.nav-top {
  width: 100%;
  height: 90px;
  padding: 0 80px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1em;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
header nav.nav-top ul, header nav.nav-top li {
  list-style: none;
}
header nav.nav-top ul {
  display: flex;
  text-transform: uppercase;
}
header nav.nav-top ul li {
  margin: 0 5px;
  transition: 0.3s;
}
header nav.nav-top ul li:hover {
  color: #bafaac;
}
header nav.nav-top .account {
  text-transform: uppercase;
  display: flex;
}
header nav.nav-top .account .acc-btn {
  margin: 0 10px;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: inherit;
  color: #fff;
  transition: 0.2s;
  cursor: pointer;
}
header nav.nav-top .account .acc-btn:first-child {
  margin-left: 0;
}
header nav.nav-top .account .acc-btn:last-child {
  margin-right: 0;
}
header nav.nav-top .account .acc-btn:hover {
  border-color: #00f;
  background-color: #00f;
}
header .slider {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
header .slider .slide_arrows {
  width: 40px;
  height: 40px;
  background-color: rgba(100, 188, 144, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: 50%;
  z-index: 2;
  font-size: 1em;
  transition: all 0.5s;
  cursor: pointer;
}
header .slider .slide_arrows.prev {
  left: 20px;
  transform: translate(-100px, -50%);
}
header .slider .slide_arrows.next {
  right: 20px;
  transform: translate(100px, -50%);
}
header .slider:hover .slide_arrows {
  transform: translate(0, -50%);
}
header .slider .slides_wrap {
  height: 100%;
  display: flex;
  flex-direction: row;
  transition: all 0.5s;
}
header .slider .slides_wrap .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
header .slider .slides_wrap .slide:nth-child(1) {
  background: linear-gradient(rgba(0, 255, 0, 0.2), rgba(0, 255, 0, 0.2)), url(../img/slide1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
header .slider .slides_wrap .slide:nth-child(2) {
  background: linear-gradient(rgba(0, 255, 0, 0.2), rgba(0, 255, 0, 0.2)), url(../img/slide2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
header .slider .slides_wrap .slide:nth-child(3) {
  background: linear-gradient(rgba(0, 255, 0, 0.2), rgba(0, 255, 0, 0.2)), url(../img/slide3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
header .slider .slides_wrap .slide:nth-child(4) {
  background: linear-gradient(rgba(0, 255, 0, 0.2), rgba(0, 255, 0, 0.2)), url(../img/slide4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
header .slider .slides_wrap .slide .slide-content {
  margin-top: 150px;
  margin-left: 120px;
  width: 50%;
  color: #fff;
}
header .slider .slides_wrap .slide .slide-content h2 {
  font-size: 2.2em;
  font-weight: bold;
  margin-bottom: 30px;
}
header .slider .slides_wrap .slide .slide-content p {
  margin: 5px 0;
  font-size: 1.5em;
}
header .slider .slides_wrap .slide .slide-content .slide-content-btn {
  margin-top: 30px;
  width: 50%;
  height: 60px;
  background-color: #0CCEC0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}
header .slider .slides_wrap .slide .slide-content .slide-content-btn:hover {
  background-color: #00f;
}
header .slider #slides_control {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
header .slider #slides_control label {
  display: inline-flex;
  flex-direction: row-reverse;
  transition: all 0.2s;
  margin: 3px;
}
header .slider #slides_control label span {
  display: flex;
  width: 12px;
  height: 12px;
  border: 2px solid #09ffa3;
  border-radius: 50%;
  transition: all 0.2s;
}
header .slider #slides_control label:hover span {
  background-color: rgba(9, 255, 163, 0.6);
}
header .slider #slides_control label input {
  display: none;
}
header .slider #slides_control label input:checked + span {
  background-color: #09ffa3;
}

#registration-form-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
#registration-form-wrap #registration-form {
  width: auto;
  height: auto;
  background-color: #fff;
  border: 2px solid #41f01d;
  padding: 50px;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
}
#registration-form-wrap #registration-form #reg-close-btn {
  position: absolute;
  padding: 5px;
  top: 5px;
  right: 5px;
  font-size: 2em;
  color: #060;
  transition: 0.2s;
  cursor: pointer;
}
#registration-form-wrap #registration-form #reg-close-btn:hover {
  color: #f60;
}
#registration-form-wrap #registration-form .form-content {
  width: 500px;
  height: 100%;
}
#registration-form-wrap #registration-form .form-content h3 {
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}
#registration-form-wrap #registration-form .form-content .form-row {
  width: 100%;
  margin: 5px 0;
}
#registration-form-wrap #registration-form .form-content .form-row label {
  margin: 0 5px;
}
#registration-form-wrap #registration-form .form-content .form-row label span {
  margin: 0 5px;
}
#registration-form-wrap #registration-form .form-content input.form-row {
  padding: 12px 6px;
  color: #747474;
  border: 1px solid #ECECEC;
  border-radius: 3px;
  font-size: 0.9em;
  background-color: #F6F7F8;
}
#registration-form-wrap #registration-form .form-content input.form-row::placeholder {
  color: #aaa;
}
#registration-form-wrap #registration-form .form-content p {
  color: #486;
}
#registration-form-wrap #registration-form .form-content p a {
  text-decoration: underline;
}
#registration-form-wrap #registration-form .form-content .form-registration-btn {
  width: 100%;
  height: 45px;
  background-color: #0CCEC0;
  transition: 0.2s;
  color: #fff;
  border-radius: 3px;
  font-size: 1.1em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
#registration-form-wrap #registration-form .form-content .form-registration-btn:hover {
  background-color: #00f;
}
