/* SCSS */
/* Variables */
/* End variables */
/* Mixins */
/* End mixins */
/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

/* Styles */
body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

li > a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 5px 10px;
}

.hp-btn {
  width: 100%;
  height: 45px;
  background-color: #0CCEC0;
  transition: 0.2s;
  color: #fff;
  border-radius: 3px;
  font-size: 1.1em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.hp-btn:hover {
  background-color: #750fc2;
}

.logo {
  width: 120px;
  height: 30px;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}
.logo div {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo div:first-child {
  color: #000;
  background-color: #fff;
  left: 0;
}
.logo div:last-child {
  color: #fff;
  background-color: #000;
  left: 50%;
}

/* Preloader */
#preloader-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #888;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
#preloader-wrap #preloader {
  width: 120px;
  height: 30px;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
#preloader-wrap #preloader h3 {
  color: #fff;
  z-index: 2;
  mix-blend-mode: difference;
}
#preloader-wrap #preloader .preloader-block {
  width: 50%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  animation: loader 2s infinite ease-in-out;
}

/* Header */
header {
  width: 100%;
  height: auto;
  /* Navigation */
}
header nav.nav-top {
  width: 100%;
  height: 90px;
  padding: 0 80px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1em;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: -moz-linear-gradient(45deg, #750fc2 0%, #41f01d 87%, #00d4ff 100%);
  background: -webkit-linear-gradient(45deg, #750fc2 0%, #41f01d 87%, #00d4ff 100%);
  background: linear-gradient(45deg, #750fc2 0%, #41f01d 87%, #00d4ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#750fc2",endColorstr="#00d4ff",GradientType=1);
}
header nav.nav-top ul, header nav.nav-top li {
  list-style: none;
}
header nav.nav-top ul {
  display: flex;
  text-transform: uppercase;
}
header nav.nav-top ul li {
  margin: 0 5px;
  transition: 0.3s;
}
header nav.nav-top ul li:hover {
  color: #bafaac;
}
header nav.nav-top .account {
  text-transform: uppercase;
  display: flex;
}
header nav.nav-top .account .acc-btn {
  margin: 0 10px;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: inherit;
  color: #fff;
  transition: 0.2s;
  cursor: pointer;
}
header nav.nav-top .account .acc-btn:first-child {
  margin-left: 0;
}
header nav.nav-top .account .acc-btn:last-child {
  margin-right: 0;
}
header nav.nav-top .account .acc-btn:hover {
  border-color: #750fc2;
  background-color: #750fc2;
}
header nav.nav-top .account-min {
  display: none;
}
header nav.nav-top .account-min .acc-btn {
  margin: 0 10px;
  font-size: 1.2em;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: inherit;
  color: #fff;
  transition: 0.2s;
  cursor: pointer;
}
header nav.nav-top .account-min .acc-btn:first-child {
  margin-left: 0;
}
header nav.nav-top .account-min .acc-btn:last-child {
  margin-right: 0;
}
header nav.nav-top .account-min .acc-btn:hover {
  border-color: #750fc2;
  background-color: #750fc2;
}
header nav.nav-top .acc-btn-autorized {
  margin: 0 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: inherit;
  color: #fff;
  font-size: 1.3em;
  transition: 0.2s;
  cursor: pointer;
}
header nav.nav-top .acc-btn-autorized:first-child {
  margin-left: 0;
}
header nav.nav-top .acc-btn-autorized:last-child {
  margin-right: 0;
}
header nav.nav-top .acc-btn-autorized:hover {
  border-color: #750fc2;
  background-color: #750fc2;
}
header nav.nav-top #min-menu-btn {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  font-size: 1.3em;
  border-radius: 10px;
  background-color: inherit;
  color: #fff;
  transition: 0.2s;
  cursor: pointer;
  display: none;
}
header nav.nav-top #min-menu-btn:hover {
  border-color: #41f01d;
  background-color: rgba(0, 255, 0, 0.2);
}
header nav.menu-min {
  width: 100%;
  height: auto;
  padding: 30px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-size: 1em;
  position: absolute;
  top: 78px;
  left: 0;
  z-index: 2;
  background: -moz-linear-gradient(45deg, #750fc2 0%, #41f01d 87%, #00d4ff 100%);
  background: -webkit-linear-gradient(45deg, #750fc2 0%, #41f01d 87%, #00d4ff 100%);
  background: linear-gradient(45deg, #750fc2 0%, #41f01d 87%, #00d4ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#750fc2",endColorstr="#00d4ff",GradientType=1);
  border-top: 2px solid #fff;
  display: none;
}
header nav.menu-min ul, header nav.menu-min li {
  list-style: none;
}
header nav.menu-min ul {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}
header nav.menu-min ul li {
  margin: 5px;
  transition: 0.3s;
}
header nav.menu-min ul li:hover {
  color: #bafaac;
}

/* Modal windows */
.acc-modal-window-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.acc-modal-window-wrap .acc-modal-window {
  width: auto;
  height: auto;
  background-color: #fff;
  border: 2px solid #41f01d;
  padding: 50px;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
}
.acc-modal-window-wrap .acc-modal-window .acc-modal-window-close-btn {
  position: absolute;
  padding: 5px;
  top: 5px;
  right: 5px;
  font-size: 2em;
  color: #060;
  transition: 0.2s;
  cursor: pointer;
}
.acc-modal-window-wrap .acc-modal-window .acc-modal-window-close-btn:hover {
  color: #f60;
}
.acc-modal-window-wrap .acc-modal-window .form-content {
  width: 96%;
  height: 100%;
  max-width: 500px;
}
.acc-modal-window-wrap .acc-modal-window .form-content h3 {
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}
.acc-modal-window-wrap .acc-modal-window .form-content .form-row {
  width: 100%;
  margin: 5px 0;
}
.acc-modal-window-wrap .acc-modal-window .form-content .form-row label {
  margin: 0 5px;
}
.acc-modal-window-wrap .acc-modal-window .form-content .form-row label span {
  margin: 0 5px;
}
.acc-modal-window-wrap .acc-modal-window .form-content input.form-row {
  padding: 12px 6px;
  color: #747474;
  border: 1px solid #ECECEC;
  border-radius: 3px;
  font-size: 0.9em;
  background-color: #F6F7F8;
}
.acc-modal-window-wrap .acc-modal-window .form-content input.form-row::placeholder {
  color: #aaa;
}
.acc-modal-window-wrap .acc-modal-window .form-content p {
  color: red;
}
.acc-modal-window-wrap .acc-modal-window .form-content .acc-modal-window-btn {
  width: 100%;
  height: 45px;
  background-color: #0CCEC0;
  transition: 0.2s;
  color: #fff;
  border-radius: 3px;
  font-size: 1.1em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.acc-modal-window-wrap .acc-modal-window .form-content .acc-modal-window-btn:hover {
  background-color: #750fc2;
}

#registration-form-wrap, #login-form-wrap {
  display: none;
}

/* Main */
main {
  margin-top: 90px;
  min-height: calc(100vh - 200px);
}

/* Footer */
footer {
  width: 100%;
  background-color: #750fc2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}
footer a {
  color: #41f01d;
  transition: 0.2s;
}
footer a:hover {
  text-decoration: underline;
}
footer .logo {
  margin: 25px 0;
}
footer .nav-bottom {
  margin: 15px 0;
}
footer .nav-bottom ul {
  list-style: none;
  display: flex;
}
footer .footer-contact, footer .footer-copy {
  margin: 10px 10px;
  text-align: center;
}

.cookie-wrap {
  background-color: #eee;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 480px;
  padding: 30px;
  border-radius: 5px;
  display: none;
}
.cookie-wrap p {
  color: #888;
  margin-bottom: 25px;
}

#go_top {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 10;
  width: 50px;
  height: 50px;
  background-color: #0CCEC0;
  display: flex;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: 0.3s;
}
#go_top:hover {
  background-color: #2cc30d;
}
#go_top a {
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Preloader animation */
@keyframes loader {
  0% {
    left: -25%;
  }
  50% {
    left: 75%;
  }
  100% {
    left: -25%;
  }
}
