/* SCSS */
/* Variables */
/* End variables */
/* Mixins */
/* End mixins */
main {
  display: flex;
  justify-content: center;
  padding: 15px 30px;
  background-color: #F5F6F7; }
  main .task_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(10, auto);
    width: 100%;
    max-width: 991px;
    border: 2px solid #41F01D;
    border-radius: 15px;
    background-color: #fff;
    padding: 25px;
    color: #908A98; }
    main .task_wrap h1, main .task_wrap h2, main .task_wrap h3, main .task_wrap h4, main .task_wrap h5, main .task_wrap h6 {
      color: #292929;
      margin-bottom: 10px; }
    main .task_wrap .task_autor {
      grid-column: 1 / 2;
      grid-row: 1 / 7;
      width: 100%;
      padding: 10px; }
      main .task_wrap .task_autor img {
        width: 50%;
        cursor: pointer; }
        main .task_wrap .task_autor img:hover ~ h2 {
          text-decoration: underline; }
      main .task_wrap .task_autor span {
        margin-left: 10px; }
      main .task_wrap .task_autor i {
        color: orange; }
      main .task_wrap .task_autor h2 {
        font-size: 1.8em;
        cursor: pointer; }
        main .task_wrap .task_autor h2:hover {
          text-decoration: underline; }
      main .task_wrap .task_autor .hp-btn {
        width: 70%;
        margin-top: 10px; }
    main .task_wrap .task_date {
      grid-column: 3 / 4;
      grid-row: 1 / 4;
      width: 100%;
      padding: 10px; }
      main .task_wrap .task_date p {
        margin: 10px 0; }
        main .task_wrap .task_date p i {
          margin-right: 5px; }
        main .task_wrap .task_date p a {
          color: #41f01d !important; }
          main .task_wrap .task_date p a:hover {
            text-decoration: underline; }
    main .task_wrap .task_title {
      grid-column: 2 / 4;
      grid-row: 4 / 7;
      width: 100%;
      padding: 10px;
      display: flex;
      align-items: flex-end; }
      main .task_wrap .task_title h1 {
        font-size: 2em; }
    main .task_wrap .task_text {
      grid-column: 1 / 4;
      grid-row: 7 / 8;
      width: 100%;
      padding: 10px;
      display: flex; }
    main .task_wrap .task_imgs {
      grid-column: 1 / 4;
      grid-row: 8 / 9;
      width: 100%;
      padding: 10px;
      display: flex;
      justify-content: space-around; }
      main .task_wrap .task_imgs img {
        width: 50%;
        height: 100%; }
    main .task_wrap .offers-wrap {
      grid-row: 9 / 10;
      grid-column: 1 / 4;
      margin-top: 30px;
      padding-top: 30px;
      border-top: 1px solid #750fc2; }
      main .task_wrap .offers-wrap h2 {
        text-align: center;
        margin-bottom: 40px; }
      main .task_wrap .offers-wrap .offer {
        width: 100%;
        padding: 20px 10px;
        background-color: #F5F6F7;
        margin: 10px 0;
        border-radius: 5px;
        border: 1px solid #41f01d; }
        main .task_wrap .offers-wrap .offer img {
          width: 10%;
          min-width: 50px;
          float: left;
          margin: 0 20px 20px 0;
          cursor: pointer; }
          main .task_wrap .offers-wrap .offer img:hover + h5 {
            text-decoration: underline; }
        main .task_wrap .offers-wrap .offer h5 {
          float: left;
          font-size: 1.2em;
          cursor: pointer; }
          main .task_wrap .offers-wrap .offer h5:hover {
            text-decoration: underline; }
        main .task_wrap .offers-wrap .offer .allow_realize_btn {
          max-width: 200px;
          margin-bottom: 20px; }
        main .task_wrap .offers-wrap .offer p {
          margin-bottom: 15px; }
        main .task_wrap .offers-wrap .offer div, main .task_wrap .offers-wrap .offer p {
          clear: both;
          width: 100%; }
      main .task_wrap .offers-wrap .offer-form {
        width: 100%;
        height: 150px;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        main .task_wrap .offers-wrap .offer-form textarea {
          width: 79%;
          height: 100%;
          border: 1px solid #41f01d;
          border-radius: 5px;
          padding: 10px;
          font-size: 0.9em; }
        main .task_wrap .offers-wrap .offer-form #offer-send {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 19%;
          padding: 10px;
          font-size: 1.1em;
          border: 0;
          background-color: #0CCEC0;
          color: #fff;
          border-radius: 3px;
          transition: 0.3s;
          cursor: pointer; }
          main .task_wrap .offers-wrap .offer-form #offer-send:hover {
            background-color: #750fc2; }

@media only screen and (max-width: 767px) {
  main .task_wrap .task_autor {
    grid-column: 1 / 3;
    grid-row: 1 / 3; }
  main .task_wrap .task_date {
    grid-column: 2 / 4;
    grid-row: 3 / 5;
    padding: 10px; }
    main .task_wrap .task_date p {
      text-align: end; }
  main .task_wrap .task_title {
    grid-column: 1 / 4;
    grid-row: 5 / 7;
    justify-content: center; }
  main .task_wrap .task_text {
    grid-column: 1 / 4;
    grid-row: 7 / 8; }
  main .task_wrap .task_imgs {
    grid-column: 1 / 4;
    grid-row: 8 / 9; }
    main .task_wrap .task_imgs img {
      width: 80%; } }
@media only screen and (max-width: 575px) {
  main .task_wrap {
    padding: 15px; } }
@media only screen and (max-width: 480px) {
  main {
    padding: 15px; }
    main .task_wrap .task_autor {
      grid-column: 1 / 4; }
    main .task_wrap .task_date {
      grid-column: 1 / 4; }
    main .task_wrap .task_imgs {
      grid-column: 1 / 4;
      grid-row: 8 / 9; }
      main .task_wrap .task_imgs img {
        width: 100%; } }
