/* SCSS */

@import 'variables_and_mixins';

header {
    /* Navigation */
    nav.nav-top {
        background: transparent;
    }

    /* Slider */
    .slider {
        @include blockSize(100%, 100vh);
        overflow-x: hidden;
        max-width: 100vw;

        .slide_arrows {
            @include blockSize(40px, 40px);
            background-color: rgba(100, 188, 144, 0.8);
            @include contentCenter;
            color: #fff;
            position: absolute;
            top: 50%;
            z-index: 2;
            font-size: 1em;
            transition: all 0.5s;
            cursor: pointer;
            opacity: 0;
        }
        .slide_arrows.prev {
            left: 20px;
        }
        .slide_arrows.next {
            right: 20px;
        }
        &:hover .slide_arrows {
            display: flex;
            opacity: 1;
        }

        .slides_wrap {
            height: 100%;
            display: flex;
            flex-direction: row;
            transform: translateX(0);
            transition: all 0.5s;

            .slide {
                @include position(absolute, 0, 0);
                @include blockSize(100%, 100%);
                

                &:nth-child(1) {
                    background: linear-gradient(rgba(0, 255, 0, 0.2), rgba(0, 255, 0, 0.2)), url(../img/slide1.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                &:nth-child(2) {
                    background: linear-gradient(rgba(0, 255, 0, 0.2), rgba(0, 255, 0, 0.2)), url(../img/slide2.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                &:nth-child(3) {
                    background: linear-gradient(rgba(0, 255, 0, 0.2), rgba(0, 255, 0, 0.2)), url(../img/slide3.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                &:nth-child(4) {
                    background: linear-gradient(rgba(0, 255, 0, 0.2), rgba(0, 255, 0, 0.2)), url(../img/slide4.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                .slide-content {
                    margin-top: 150px;
                    margin-left: 120px;
                    width: 50%;
                    color: #fff;

                    h2 {
                        font-size: 2.2em;
                        font-weight: bold;
                        margin-bottom: 30px;
                    }

                    p {
                        margin: 5px 0;
                        font-size: 1.5em;
                    }

                    .slide-content-btn {
                        margin-top: 30px;
                        @include blockSize(50%, 60px);
                        background-color: #0CCEC0;
                        border-radius: 5px;
                        @include contentCenter;
                        font-size: 1.5em;
                        font-weight: bold;
                        transition: 0.3s;
                        cursor: pointer;

                        &:hover {
                            background-color: $blue;
                        }
                    }
                }
            }
        }

        #slides_control {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);

            label {
                display: inline-flex;
                flex-direction: row-reverse;
                transition: all 0.2s;
                margin: 3px;

                span {
                    display: flex;
                    @include blockSize(12px, 12px);
                    border: 2px solid rgb(9, 255, 163);
                    border-radius: 50%;
                    transition: all 0.2s;
                }

                &:hover {
                    span {
                        background-color: rgba(9, 255, 163, 0.6);
                    }
                }

                input {
                    display: none;

                    &:checked + span {
                        background-color: rgba(9, 255, 163, 1);
                    }
                }

            }
        }
    }
}

/* Main */
main {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto auto;

    /* About us */
    #about_us {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        background-color: #F5F6F7;
        padding: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            color: #292929;
            font-size: 3em;
            font-weight: bold;
            margin-bottom: 20px;
            text-align: center;
        }

        p {
            color: #878F9E;
            font-size: 1.2em;
            align-self: flex-start;
        }

        .about_as-cards {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin: 20px;

            .about_as-card {
                margin: 20px;
                padding: 20px 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 50%;
                border-radius: 10px;
                background-color: #fff;
                box-shadow: 0px 0px 2px 2px rgba(221,221,221,1);
                transition: all 0.3s;

                &:hover {
                    transform: translateY(-10px);
                    box-shadow: 0px 5px 2px 2px rgba(221,221,221,1);
                }

                i {
                    font-size: 5em;
                    color: $green;
                }

                h3 {
                    font-size: 1.5em;
                    margin: 20px 0;
                    text-align: center;
                }

                p {
                    font-size: 1.1em;
                    text-align: center;
                }
            }
        }
    }

    /* Aside */
    aside {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        background: linear-gradient(rgba(117,15,194, 0.8), rgba(117,15,194, 0.8)), url(../img/bg1.jpg);
        background-size: cover;
        padding: 10px;

        .ad {
            width: 100%;
            min-height: 100px;
            background-color: #fff;
            border-radius: 5px;
            border: 2px solid $green;
            padding: 10px;
            margin: 10px 0;

            .ad-photo {
                width: 20%;
                max-width: 150px;
                max-height: 150px;
                float: left;
                margin: 0 10px 10px 0;
            }

            .ad-info {
                h6 {
                    font-weight: bold;
                    font-size: 1em;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 0.7em;
                    color: #ACACAC;
                }
            }

            .ad-description {
                color: #7C8595;
                padding-top: 15px;
                border-top: 1px solid $blue;
                margin-top: 15px;
            }
        }
    }

    /* Stat counters */
    #statistic_counters {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        background-color: $green;
        color: #ddd;
        display: flex;
        justify-content: space-around;
        padding: 50px 0;

        .stat_counter {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 200px;
            margin: 50px;
            font-weight: bold;

            .stat_num {
                font-size: 7em;
            }

            .stat_description {
                font-size: 2em;
                text-align: center;
            }
        }
    }
}

/* Media */

/* Header and modal window */
@media only screen and (max-width : 1200px) {

    /* Slider */
    header .slider .slides_wrap .slide .slide-content {
        margin-top: 100px;
        margin-left: 80px;
        width: 70%;
    }

}

@media only screen and (max-width : 1024px) {

    header {
        /* Slider */
        .slider {    
            .slides_wrap {    
                .slide {    
                    .slide-content {    
                        h2 {
                            font-size: 2em;
                            margin-bottom: 25px;
                        }
    
                        p {
                            font-size: 1.3em;
                        }
    
                        .slide-content-btn {
                            margin-top: 25px;
                            @include blockSize(50%, 35px);
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }

}

@media only screen and (max-width : 991px) {

    header {
        /* Slider */
        .slider {
    
            .slide_arrows {
                display: none !important;
                opacity: 0;
            }
    
            .slides_wrap {    
                .slide {    
                    .slide-content {
                        margin-top: 90px;
                        margin-left: 50px;
                        width: 80%;
    
                        h2 {
                            font-size: 1.8em;
                            margin-bottom: 20px;
                        }
    
                        p {
                            margin: 3px 0;
                            font-size: 1.2em;
                        }
    
                        .slide-content-btn {
                            margin-top: 20px;
                            @include blockSize(50%, 35px);
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }

}

@media only screen and (max-width : 767px) {

    header {
        /* Slider */
        .slider {
            .slides_wrap {
                .slide {   
                    .slide-content {
                        margin-top: 90px;
                        margin-left: 30px;
                        width: 90%;
    
                        h2 {
                            font-size: 1.3em;
                            margin-bottom: 20px;
                        }
    
                        p {
                            margin: 2px 0;
                            font-size: 0.9em;
                        }
    
                        .slide-content-btn {
                            margin-top: 20px;
                            @include blockSize(50%, 30px);
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }

}

@media only screen and (max-width : 575px) {

    header {
        /* Slider */
        .slider {
            .slides_wrap {
                .slide {  
                    .slide-content {
                        margin-top: 85px;
                        margin-left: 20px;
                        width: 90%;
    
                        h2 {
                            font-size: 1.2em;
                            margin-bottom: 15px;
                        }
    
                        p {
                            margin: 1px 0;
                            font-size: 0.9em;
                        }
    
                        .slide-content-btn {
                            margin-top: 15px;
                            @include blockSize(50%, 30px);
                            font-size: 1em;
                        }
                    }
                }
            }

            #slides_control {
                display: none;
            }
        }
    }

}

@media only screen and (max-width : 480px) {

    /* Slider */
    .slider {
        .slides_wrap {
            .slide {  
                .slide-content {
                    margin-top: 90px;
                    margin-left: 15px;
                    width: 90%;

                    h2 {
                        font-size: 1.3em;
                    }

                    p {
                        margin: 2px 0;
                        font-size: 1em;
                    }

                    .slide-content-btn {
                        @include blockSize(100%, 35px);
                        font-size: 1.1em;
                    }
                }
            }
        }
    }

}

/* Main */
@media only screen and (max-width : 1200px) {
    main {
    
        /* About us */
        #about_us {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
        }
    
        /* Aside */
        aside {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
            padding: 10px;
    
            .ad {
                padding: 15px;
                margin: 15px 0;
    
                .ad-photo {
                    margin: 0 15px 15px 0;
                }
    
                .ad-info {
                    h6 {
                        font-size: 1.2em;
                        margin-bottom: 15px;
                    }
    
                    p {
                        font-size: 0.8em;
                    }
                }
    
                .ad-description {
                    padding-top: 20px;
                    margin-top: 20px;
                }
            }
        }
    }
}

@media only screen and (max-width : 991px) { 
    main {    
        /* Stat counters */
        #statistic_counters {
            flex-direction: column;
        }
    }
}

@media only screen and (max-width : 767px) { 
    main {    
        /* About us */
        #about_us {
            padding: 40px;
    
            .about_as-cards {
                flex-direction: column;
    
                .about_as-card {
                    margin: 20px 0;
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width : 575px) {  
    main {    
        /* About us */
        #about_us {
            padding: 30px;
    
            h1 {
                font-size: 2.5em;
            }
    
            p {
                font-size: 1em;
            }
        }
    }
}

@media only screen and (max-width : 480px) {  
    main {    
        /* About us */
        #about_us {
            padding: 20px;
    
            h1 {
                font-size: 2em;
                margin-bottom: 15px;
            }
    
            .about_as-cards {
                .about_as-card {
                    margin: 15px 0;
                }
            }
        }
    }
}