/* SCSS */

/* Variables */
$ff: 'Lato', sans-serif;
$green: #41f01d;
$blue: #00f;

/* End variables */

/* Mixins */
@mixin blockSize($w, $h) {
    width: $w;
    height: $h;
}

@mixin position($p, $t, $l) {
    position: $p;
    top: $t;
    left: $l;
}

@mixin contentCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End mixins */

/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

/* Styles */
body {
    font-size: 16px;
    font-family: $ff;
    @include blockSize(100%, auto);
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

li > a {
    display: block;
    @include blockSize(100%, 100%);
    text-align: center;
    padding: 5px 10px;
}

.logo {
    @include blockSize(120px, 30px);
    position: relative;
    border-radius: 3px;
    overflow: hidden;

    div {
        position: absolute;
        top: 0;
        @include blockSize(50%, 100%);
        @include contentCenter;
    }

    div:first-child {
        color: #000;
        background-color: #fff;
        left: 0;
    }
    div:last-child {
        color: #fff;
        background-color: #000;
        left: 50%;
    }
}

/* Preloader */
#preloader-wrap {
    @include position(fixed, 0, 0);
    @include blockSize(100%, 100%);
    background-color: #888;
    z-index: 999;
    @include contentCenter;
    display: none;

    #preloader {
        @include blockSize(120px, 30px);
        position: relative;
        border-radius: 3px;
        overflow: hidden;
        @include contentCenter;
        background-color: #fff;

        h3 {
            color: #fff;
            z-index: 2;
            mix-blend-mode: difference;
        }

        .preloader-block {
            @include blockSize(50%, 100%);
            background-color: #000;
            position: absolute;
            top: 0;
            animation: loader 2s infinite ease-in-out;
        }
    }
}

/* Header */
header {
    @include blockSize(100%, auto);    

    nav.nav-top {
        @include blockSize(100%, 90px);
        padding: 0 80px;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        font-size: 1em;
        @include position(absolute, 0, 0);
        z-index: 2;

        ul, li {
            list-style: none;
        }

        ul {
            display: flex;
            text-transform: uppercase;

            li {
                margin: 0 5px;
                transition: 0.3s;

                &:hover {
                    color: lighten($green, 30%);
                }
            }
        }

        .account {
            text-transform: uppercase; 
            display: flex;

            .acc-btn {
                margin: 0 10px;
                @include blockSize(150px, 50px);
                @include contentCenter;
                border: 1px solid #fff;
                border-radius: 10px;
                background-color: inherit;
                color: #fff;
                transition: 0.2s;
                cursor: pointer;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    border-color: $blue;
                    background-color: $blue;
                }
            }
        }
    }

    .slider {
        @include blockSize(100%, 100vh);
        @include position(absolute, 0, 0);
        overflow: hidden;

        .slide_arrows {
            @include blockSize(40px, 40px);
            background-color: rgba(100, 188, 144, 0.8);
            @include contentCenter;
            color: #fff;
            position: absolute;
            top: 50%;
            z-index: 2;
            font-size: 1em;
            transition: all 0.5s;
            cursor: pointer;
        }
        .slide_arrows.prev {
            left: 20px;
            transform: translate(-100px, -50%);
        }
        .slide_arrows.next {
            right: 20px;
            transform: translate(100px, -50%);
        }
        &:hover .slide_arrows {
            transform: translate(0, -50%);
        }

        .slides_wrap {
            height: 100%;
            display: flex;
            flex-direction: row;
            transition: all 0.5s;

            .slide {
                @include position(absolute, 0, 0);
                @include blockSize(100%, 100%);
                

                &:nth-child(1) {
                    background: linear-gradient(rgba(0, 255, 0, 0.2), rgba(0, 255, 0, 0.2)), url(../img/slide1.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                &:nth-child(2) {
                    background: linear-gradient(rgba(0, 255, 0, 0.2), rgba(0, 255, 0, 0.2)), url(../img/slide2.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                &:nth-child(3) {
                    background: linear-gradient(rgba(0, 255, 0, 0.2), rgba(0, 255, 0, 0.2)), url(../img/slide3.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                &:nth-child(4) {
                    background: linear-gradient(rgba(0, 255, 0, 0.2), rgba(0, 255, 0, 0.2)), url(../img/slide4.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                .slide-content {
                    margin-top: 150px;
                    margin-left: 120px;
                    width: 50%;
                    color: #fff;

                    h2 {
                        font-size: 2.2em;
                        font-weight: bold;
                        margin-bottom: 30px;
                    }

                    p {
                        margin: 5px 0;
                        font-size: 1.5em;
                    }

                    .slide-content-btn {
                        margin-top: 30px;
                        @include blockSize(50%, 60px);
                        background-color: #0CCEC0;
                        border-radius: 5px;
                        @include contentCenter;
                        font-size: 1.5em;
                        font-weight: bold;
                        transition: 0.3s;
                        cursor: pointer;

                        &:hover {
                            background-color: $blue;
                        }
                    }
                }
            }
        }

        #slides_control {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);

            label {
                display: inline-flex;
                flex-direction: row-reverse;
                transition: all 0.2s;
                margin: 3px;

                span {
                    display: flex;
                    @include blockSize(12px, 12px);
                    border: 2px solid rgb(9, 255, 163);
                    border-radius: 50%;
                    transition: all 0.2s;
                }

                &:hover {
                    span {
                        background-color: rgba(9, 255, 163, 0.6);
                    }
                }

                input {
                    display: none;

                    &:checked + span {
                        background-color: rgba(9, 255, 163, 1);
                    }
                }

            }
        }
    }

    

    
}

.acc-modal-window-wrap {
    @include position(fixed, 0, 0);
    @include blockSize(100%, 100%);
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 4;
    @include contentCenter;

    .acc-modal-window {
        @include blockSize(auto, auto);
        background-color: #fff;
        border: 2px solid $green;
        padding: 50px;
        position: relative;
        border-radius: 10px;
        cursor: pointer;

        .acc-modal-window-close-btn {
            position: absolute;
            padding: 5px;
            top: 5px;
            right: 5px;
            font-size: 2em;
            color: #060;
            transition: 0.2s;
            cursor: pointer;

            &:hover {
                color: #f60;
            }
        }

        .form-content {
            @include blockSize(500px, 100%);

            h3 {
                text-transform: uppercase;
                font-size: 2em;
                text-align: center;
                font-weight: bold;
                margin-bottom: 30px;
            }

            .form-row {
                width: 100%;
                margin: 5px 0;

                label {
                    margin: 0 5px;

                    span {
                        margin: 0 5px;
                    }
                }
            }

            input.form-row {
                padding: 12px 6px;
                color: #747474;
                border: 1px solid #ECECEC;
                border-radius: 3px;
                font-size: 0.9em;
                background-color: #F6F7F8;
            }

            input.form-row::placeholder {
                color: #aaa;
            }

            p {
                color: #486;

                a {
                    text-decoration: underline;
                }
            }

            .acc-modal-window-btn {
                @include blockSize(100%, 45px);
                background-color: #0CCEC0;
                transition: 0.2s;
                color: #fff;
                border-radius: 3px;
                font-size: 1.1em;
                font-weight: bold;
                @include contentCenter;
                margin-top: 30px;

                &:hover {
                    background-color: $blue;
                }
            }
        }
    }
}

#registration-form-wrap, #login-form-wrap {
    display: none;
}

@keyframes loader {
    0% {
        left: -25%;
    }
    50% {
        left: 75%;
    }
    100% {
        left: -25%;
    }
}